# Copy to .env and set your bot token
YAM_SALE_NOTIFY_BOT_TOKEN=
YAM_SALE_NOTIFY_RPC_URLS=https://gnosis.drpc.org,https://rpc.ankr.com/gnosis/...,https://rpc.gnosischain.com
YAM_INDEXING_DB_PATH=../../yam-indexing/yam_indexing_db/yam_events.db


# Telegram alerts
TELEGRAM_ALERT_BOT_TOKEN=
TELEGRAM_ALERT_GROUP_ID=