config*.json
user_languages.json
user_wallet.json
playground*
transactions_queue/*
!transactions_queue/.gitkeep
logs/*
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.vscode/
*.log
user_configurations.json
!logs/.gitkeep

